input.btn {
	color: #9dcaeb;
	background-color: #070546;
}

input {
	border-width: 1px;
	border-style: solid;
	width: 40px;
	background-color: #9dcaeb;
	color: black;
}

body {
	margin: 0px;
}

.header {
	width: 100%;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	position: relative;
	letter-spacing: -2px;
	text-align: center;
	font-weight: bold;
	line-height: 100px;
	font-size: 51px;
	color: #e8e3e2;
	height: 100px;
	background-color: #070546;
}

.body {
	width: 100%;
	color: #EDE9E8;
	padding: 0px;
	margin: 0px;
	background-color: #e8e3e2;
}

input:disabled {
	background-color: #e8e3e2;
}

